body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    color: #fff;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.timer-container {
    text-align: center;
    max-width: 400px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4caf50;
}

#timer-display {
    font-size: 3em;
    margin-bottom: 30px;
    color: #ff9800;
    transition: color 0.5s ease-in-out;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group label {
    flex: 1;
    text-align: center;
    margin-right: 10px;
    color: #4caf50;
}

.input-group input {
    flex: 1;
    padding: 10px;
    font-size: 1.5em;
    box-sizing: border-box;
    max-width: 75px;
    text-align: center;
    color: #333;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 1.2em;
    margin: 10px;
    padding: 12px 24px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 6px;
    outline: none;
    transition: background-color 0.3s ease-in-out;
    flex: 1;
}

button:hover {
    background-color: #45a049;
}

footer {
    position: fixed;
    bottom: 23%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #888;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }
}

@media screen and (max-width: 768px) {
    main {
        justify-content: center;
    }
}
